# Web Framework
fastapi
uvicorn
python-multipart

# Database & Object Storage
psycopg2-binary
boto3

# ML & Data
torch
torchvision
pandas
huggingface-hub
requests

# Plotting & Images
matplotlib
seaborn
Pillow